# System files
.env
.DS_Store
.directory
node_modules

# Cache &misc files 
cache
logs
*.test
*.prof
*.swp
*.swo
*~
*.bench
*.debug

# CUSTOM USER CONFIG VSCODE
#.vscode/settings.json
#*.code-workspace
